<!--The content below is only a placeholder and can be replaced.-->
<section id="cover">
  <div id="cover-caption">
    <div id="container" class="container">
      <div class="row">
        <div class="col-sm-10 offset-sm-1 text-center">
          <h1>
            Welcome to {{ title }}!
          </h1>
          <img width="200" alt="Angular Logo" src= "../assets/img/octocat.png">
          <h3>Enter search terms in the box below: </h3>
          <div class="info-form">
            <form action="" class="form-inline justify-content-center">
              <div class="form-group">
                <label class="sr-only">Search Git</label>
                <input name = "search"
                       [(ngModel)] = "search"
                       class="form-control"
                       placeholder="search term e.g angular">
              </div>
              <button class="btn btn-success" (click)="getFromGit(search)">Search Github!</button>
            </form>
            <div></div>
          </div>

          <div *ngFor="let result of searchResults let i = index">
            <div class="card">
              <a (click)="showComments(i, result.owner.login, result.name )">
                <div class="card-block card-header" >
                  {{result.full_name}}
                </div>
              </a>
                <div *ngIf="toggle[i]" class="card-block card-body">
                  <b>Comments for {{result.full_name}}:</b>
                  <div *ngFor="let comment of comments[i]">
                    <div class="card-block">
                      <div>
                        <img src="{{comment.user.avatar_url}}" width="40px" height="40px"/>
                      </div>
                      <div>
                        {{comment.user.login}} : {{comment.created_at | date}}
                      </div>
                    </div>
                    <div class="card-block">
                      <div>
                        {{comment.body | evaluate }} comment
                      </div>
                      <div>
                        {{comment.body}}
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>





